.help_page {
  height: 1200px;
  width: 100%;
}

.bg_help {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../public/home/jewell.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.help_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 60%;
  .help {
        color: #ffff;
    font-family: Judson;
    font-size: 60px;
    font-weight: 800;
    text-transform: capitalize;
  }
  .help_title {
    color: rgb(20, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: uppercase;
  }
}

.cs_title {
  background-image: url("../../public/home/pattern.png");
  width: 100%;
  height: 1300px;
  background-size: cover;
  background-position: center;
}

.bg_patern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;

  .support {
    color: rgb(59, 44, 32);
    font-family: Judson;
    font-size: 45px;
    font-weight: 800;
    text-transform: capitalize;
  }
  .title {
    color: rgb(59, 44, 32);
    font-family: Judson;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 15%;
    text-transform: uppercase;
  }
}

.help_menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;

  .help_tab {
    color: #ffff;
    border: 1px solid rgba(172, 172, 172, 1);
    height: 50px;
    font-family: Judson;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 15%;
    text-transform: uppercase;
    width: 250px;
    background-color: #000;
    text-align: center;
    margin: 10px 70px;
    cursor: pointer;

    &:hover {
      color: rgb(20, 0, 0);
      background-color: rgb(255, 255, 255);
    }
    &:focus {
      color: rgb(20, 0, 0);
      background-color: rgb(255, 255, 255);
    }
  }
}

.faq {
  color: rgb(59, 44, 32);
  font-family: Judson;
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 50px;
}

.help_main_content {
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid rgba(172, 172, 172, 1);
  background: rgb(247, 245, 239);
  margin: 30px 0;
  height: auto;
  .help_rules {
    color: rgba(34, 34, 34, 1);
    font-family: Judson;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
    border-bottom: 1px solid #c4c4c4;
    padding: 24px 0 17px 0;
  }
}
.ques_question {
  font-family: Judson;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;

  .ques_answer {
    font-family: Judson;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
  }
}

.wrapper {
  display: flex;
}

.message_container {
  height: 500px;
  .pragraph {
    color: rgba(34, 34, 34, 1);

    font-family: Judson;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 20px;
    text-align: center;
  }
  .input_style {
    color: rgba(34, 34, 34, 1);
    font-family: Judson;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 20px;
    padding: 5px 10px;
    height: 45px;
    width: 600px;
  }
}

.btn_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .send_btnn {
    margin-top: 40px;
    color: #000;
    width: 157px;
    height: 50px;
    font-family: Judson;
    font-size: 17px;
    font-weight: 600;
    text-align: end;
    text-transform: capitalize;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.bg_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 120px;

  .bg_img {
    background-image: url("../../public/home/birstone.jpeg");
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
}
