.MyPage_frame {
  width: 100%;
  height: auto;
}

.bg_mypage {
  background-image: url("../../public/home/my.jpg");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
}

.bg_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 98%;
  .mypage {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .mypage_navi {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: capitalize;
  }
}



.my_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 1500px;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
.my_profile{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 300px;
  height: 150px;
  margin: 20px;
  padding: 20px;
}
}

.tab_container{
  display: flex;
  width: 100%;

}

 .menu{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 100%;

 }

// .tab_main{
//   display: flex;
//   align-items:flex-start;
//   justify-content: flex-start;
//   text-align: start;
//   width: 220px;
//   height: 800px;
//   .tab_title{
//         color: rgb(20, 0, 0);
//     font-family: Judson;
//     font-size: 20px;
//     font-weight: 800;
//     letter-spacing: 0%;
//     text-transform: capitalize;
//     text-align: start;
// }
// }

