.OtherPage_frame {
  width: 100%;
  height: 700px;
}

.bg_mypage {
  // background-image: url("../../public/home/panoramic.jpeg");
  width: 100%;
  // background-size: cover;
  // background-position: center;
}

.bg_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 98%;
  .mypage {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .mypage_navi {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: capitalize;
  }
}

.right_menu {
  height: 900px;
  width: 100%;
  background-image: url("../../public/home/pattern.png");
}

.my_container {
  display: flex;
  width: 100%;

  .tab_cont_frame {
    display: flex;
    width: 100%;
    height: 600px;
    margin: 0px 20px;
    border-radius: 10px;
  }
}

.profile_info {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 30px;
  width: 100%;

  .my_name {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: capitalize;
    margin-top: 20px;
  }
  .my_phone {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: capitalize;
    margin-top: 30px;
  }
  .user {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: capitalize;
    margin-top: 30px;
  }
}

.tab_main {
  display: flex;
  width: 350px;
  height: 700px;
  margin-top: 130px;
  margin-left: 25px;
  border-radius: 30px;
  background: rgb(255, 246, 239);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border: 0.5px solid rgb(20, 0, 0);
  .MuiTab-root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 12px;
    color: rgb(40, 40, 40);
    font-family: "Judson", serif;
    font-weight: 600;
    text-transform: none;
    padding: 10px 20px;
    min-height: 48px;
    border-radius: 12px;
    margin: 5px 12px;
    transition: all 0.25s ease;
    width: 270px;
    margin-top: 10px;

    &:hover {
      background-color: rgb(225, 214, 202);
      color: rgb(100, 40, 20);
    }

    &.Mui-selected {
      background-color: rgb(200, 180, 160);
      color: #fff;
      font-weight: 600;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }
  }
  .tab_another {
    color: rgb(141, 72, 50);
    font-family: Judson;
    font-size: 20px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 25px;
    opacity: 0.7;
  }

}

.tab_title {
  color: rgb(20, 0, 0);
  font-family: Judson;
  font-size: 20px;
  font-weight: 600;
  line-height: 8px;
  letter-spacing: 15%;
  text-transform: capitalize;
  margin-left: 20px;
}

.tab_name {
  color: rgb(20, 0, 0);
  font-family: Judson;
  font-size: 40px;
  font-weight: 600;
  line-height: 8px;
  letter-spacing: 15%;
  text-transform: capitalize;
}

.box_frame {
  margin-top: 110px;
}



// My Setting //

.setting_container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 950px;
  background: rgb(255, 249, 244);
  border-radius: 20px;
  border: 0.5px solid rgb(20, 0, 0);
}

.setting_file_box {
  display: flex;
  width: 100%;
  height: 130px;
  background: rgb(255, 249, 244);
  border-radius: 5px;
  margin-top: 50px;
}

.setting_avatar_img {
  margin-top: 15px;
  margin-left: 15px;
  width: 80px;
  height: 80px;
}

.media_change_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  margin-top: 10px;
  margin-left: 15px;
  .file_info {
    color: rgb(20, 0, 0);
    font-size: 18px;
    font-family: Judson;
    font-weight: 600;
    margin-top: 20px;
  }

  .file_type {
    color: rgb(20, 0, 0);
    font-size: 16px;
    font-family: Judson;
    font-weight: 600;
  }
}

.label {
  background: #f6f6f6;
  border-radius: 8px;
  height: 30px;
  min-width: 0;
}

.input_frame {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  margin-left: 30px;

  .info_input {
    display: flex;
    width: 810px;
    height: 54px;
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
  }
}

.input_text {
  font-size: 18px;
  font-weight: 600;
  color: rgb(20, 0, 0);
  font-family: Judson;
  text-transform: capitalize;
}

.spec_label_input {
  width: 100%;
  color: rgb(20, 0, 0);
  font-size: 18px;
  font-family: Judson;
  font-weight: 600;
  padding-left: 15px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid rgb(20, 0, 0);
  border-radius: 10px;
}

.short_input_frame {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-left: 30px;
}

.short_input {
  display: flex;
  width: 390px;
  height: 54px;
  border-radius: 10px;
  margin-top: 10px;
}

.short_input_second {
  display: flex;
  width: 390px;
  height: 54px;
  background: #f6f6f6;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
}

.spec_short_input {
  padding-left: 15px;
  width: 100%;
  color: rgb(20, 0, 0);
  font-size: 15px;
  font-family: Judson;
  font-weight: 600;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid rgb(20, 0, 0);
}

.spec_big_input {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 15px;
  font-family: Judson;
  font-weight: 600;
  width: 810px;
  height: 200px;
  border-radius: 10px;
}

.big_info_input {
  margin-top: 15px;
}

.MuiButtonBase-root.update_btn_box {
  border-radius: 15px;
  color: rgb(20, 0, 0);
  font-size: 22px;
  font-family: Judson;
  font-weight: 800;
  text-transform: capitalize;
  background-color: rgb(225, 214, 202);
  border: none;
  width: 200px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 50px;
  &:hover {
    background-color: rgb(20, 0, 0);
    color: rgb(255, 249, 244);
  }
}

/* TuiEDitor start */

.tuieditor_frame {
  height: 800px;
  width: 900px;
  border: 0.5px solid rgb(20, 0, 0);
  border-radius: 15px;
  background-color: white;
}
.form_row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .category_title {
    color: rgb(20, 0, 0);
    font-size: 30px;
    font-family: Judson;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.textfield_title {
  color: rgb(20, 0, 0);
  font-size: 20px;
  font-family: Judson;
  font-weight: 600;
  text-transform: capitalize;
  width: 300px;
}
.MuiButtonBase-root.register {
  border-radius: 15px;
  color: rgb(20, 0, 0);
  font-size: 22px;
  font-family: Judson;
  font-weight: 800;
  text-transform: capitalize;
  background-color: rgb(225, 214, 202);
  border: none;
  width: 200px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 50px;
  &:hover {
    background-color: rgb(20, 0, 0);
    color: rgb(255, 249, 244);
  }
}
