.MyPage_frame {
  width: 100%;
  height: 2000px;
  
}

.bg_mypage {
  background-image: url("../../public/home/my.jpg");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
}

.bg_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 98%;
  .mypage {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .mypage_navi {
    color: rgb(20, 0, 0);
    font-family: Judson;
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    letter-spacing: 15%;
    text-transform: capitalize;
  }
}


  .menu {
    border: 1px solid rgba(172, 172, 172, 1);
    width: 100%;
    height: 900px;
    margin-top: 50px;
  }


.my_container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
    border: 1px solid rgba(172, 172, 172, 1);
 width: 400px;
    height: 840px;
    margin:30px  40px;
   
}

.tab_box{
  display: flex;
  flex-direction: column;
  width: 100%;

}

