.OneJewellry_frame {
  height: 1900px;
  margin: 50px 50px;
      width: 1320px;

  .container {
    display: flex;
    width: 1360px;
    height: 700px;
  }
}

// .background_img {
//   background-image: url("../../public//home/jewell.jpg");
//   background-size: cover;
//   background-position: center;
//   width: 100%;
//   height: 950px;
// }

.grid_container {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 10px;
  gap: 20px;
  box-sizing: border-box;
  flex-wrap: wrap-reverse;
}

.item-1 {
  .first_img {
    width: 116px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.item-2 {
  grid-column: 3;
  .second_img {
    width: 563px;
    height: 682px;
    border-radius: 10px;
  }
}

.item-3 {
  margin-top: 20px;
  .three_img {
    width: 116px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.item-4 {
  margin-top: 38px;
  grid-row: 3;
  .four_img {
    width: 116px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.main {
  margin-left: 50px;
  flex-direction: column;
  .product_name {
    color: rgba(6, 6, 6, 1);
    font-family: Judson;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
    min-width: 70%;
  }
}

.product_price {
  color: rgba(0, 0, 0, 1);
  font-family: Judson;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.product_title {
  color: rgba(44, 44, 44, 1);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}

.pr_size {
  color: rgba(0, 0, 0, 1);
  font-family: Judson;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 20px;
}

.product_size {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
  margin-top: 20px;
  .bg_radius {
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 37px;
    background: rgba(255, 255, 255, 0.4);
    width: 42px;
    height: 42px;
    text-align: center;
    padding-top: 6px;
    &:hover {
      border-radius: 37px;
      background: rgba(20, 20, 20, 1);
      color: #fff;
      cursor: pointer;
    }
  }
}

.hurry_up {
  font-family: Judson;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  margin-top: 20px;
  strong {
    color: rgba(250, 162, 158, 1);
  }
}

.button_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.bt_style {
  box-sizing: border-box;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 42px;
  background: rgba(245, 245, 245, 1);
  width: 158px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .count_btn {
    border: none;
    outline: none;
    width: 148px;
    height: 54px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border-radius: 42px;

    &:hover {
      border: none;
      outline: none;
      width: 148px;
      height: 54px;
      font-family: Outfit;
      font-size: 16px;
      font-weight: 500;
      color: #ffff;
      border-radius: 42px;
      background: #000;
    }
  }
}

.btn_box {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn_add {
    border-radius: 40px;
    background: rgba(75, 61, 57, 1);
    width: 350px;
    height: 54px;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-family: Judson;
    font-size: 17px;
    font-weight: 700;
    line-height: 8px;
    letter-spacing: 15%;
    text-align: left;
    text-transform: uppercase;
    margin-left: 10px;
    &:hover {
      background-color: #000;
    }
  }
  .like_favorite {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 29px;
    background: rgba(255, 255, 255, 1);
    width: 54px;
    height: 54px;
    text-align: center;
    padding-left: 5px;
    margin-left: 10px;
  }
}

.return{
width: 24px;
height: 24px;
text-align: center;
margin-top: 5px;
}


.return_title{
  font-family: Judson;
font-size: 16px;
font-weight: 400;
text-align: center;
text-transform: capitalize;
margin: 20px 20px;
}

.map_cont{
    border: 1px solid rgb(199, 199, 199);
  margin-top: 40px;
  height: 580px;
  width: 1350px;
}