.Shop_frame {
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
}

.Shop_frame .product_box {
  display: flex;
  flex-direction: column;
}

.Shop_frame .main_product {
  display: flex;
  width: 100%;
}

.Shop_frame .dior_br {
  width: 100%;
  aspect-ratio: 1/1;
  background: url("/public/home/dior.jpeg") no-repeat center;
  background-size: contain;
  margin: 30px 10px;
}

.Shop_frame .wrap_box {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  margin-top: 100px;
  flex-wrap:wrap;
}

.Shop_frame .ring {
  width: 301px;
  height: 301px;
  background: url("/public/home/bridal.jpeg") no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.Shop_frame .favorite_box {
  position: relative;
  
}

.Shop_frame .box{
position: relative;

}


.Shop_frame .favorite{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
  left: 210px;
  bottom: 100px;
 width: 35px;
height: 35px;
border-radius: 50%;
background-color: #000;
 z-index: 3;
  opacity: 0;
  transition: ease;
}

.Shop_frame .ring:hover .favorite{
   opacity: 1;
  transition: 0.2s ease-out;
}

.Shop_frame .ring:hover .eyeIcon{
  opacity: 1;
  transition: 0.2s ease-out;
}

.Shop_frame .eyeIcon_box{
  position: absolute;
  display: flex;
align-items: center;
justify-content: center;
  left: 58px;
  bottom: 60px;
   width: 35px;
height: 35px;
border-radius: 50%;
background-color: #000;
opacity: 0;
}

.Shop_frame .ring:hover .eyeIcon_box{
  opacity: 1;
  transition: 0.2s ease-out;
}

.Shop_frame .eyeIcon{
  position: absolute;
    width: 22px;
height: 24px;
color: white;
opacity: 0;

}




.Shop_frame .add_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  color: rgb(255, 255, 255);
  font-family: Judson;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 15%;
  text-align: left;
  background: rgb(6, 6, 6);
  top: 40%;
  left: 10%;
 z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.Shop_frame .ring:hover .add_btn{
  opacity: 1;
  transition: 0.2s ease-out;
  background: rgb(6, 6, 6);
  color: rgb(255, 255, 255);

}



.Shop_frame .ring:hover .add_btnn {
  width: 170px;
  height: 35px;
  color: rgb(255, 255, 255);
  font-family: Judson;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 15%;
  text-align: left;
  opacity: 1;
  transition: 0.2s ease-out;
} 

.Shop_frame .img_name {
  color: rgb(6, 6, 6);
  font-family: Judson;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 10px;
}

.Shop_frame .product_names {
  color: rgb(6, 6, 6);
  font-family: Judson;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-top: 10px;
  cursor: pointer;
}

.Shop_frame .product_price {
  color: rgb(57, 57, 57);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}

/* @media (min-width: 1600px) {
  .Shop_frame .product {
    max-width: 1200px;
    gap: 50px;
  }
} */

.Shop_frame .background_img {
  background: url("/public/home/shopback.jpeg") no-repeat;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}
.Shop_frame .background_title {
  position: relative;
  top: 40%;
  color: rgb(0, 0, 0);
  font-family: Judson;
  font-size: 50px;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.Shop_frame .background_subtitle {
  position: relative;
  top: 40%;
  color: rgb(0, 0, 0);
  font-family: Judson;
  font-size: 14px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 15%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.Shop_frame .container {
  display: flex;
  flex-direction: column;
}

.Shop_frame .shop_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
}

.Shop_frame .shop_subtitle {
  color: rgb(75, 61, 57);
  font-family: Judson;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 15%;
  text-align: left;
  text-transform: uppercase;
}

.Shop_frame .shop_title {
  color: rgb(0, 0, 0);
  font-family: Judson;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.Shop_frame .shop_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Shop_frame .shop_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 182px;
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 20px;
  margin-top: 68px;
  cursor: pointer;
}

.Shop_frame .shop_box:hover {
  border: 1px solid #f7ab42;
}

.Shop_frame .shop_svg {
  width: 82.79px;
  height: 64.94px;
}

.Shop_frame .shop_img_title {
  color: rgb(0, 0, 0);
  font-family: Judson;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 12px;
}

.Shop_frame .search_box {
  width: 490px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 100px;
}

.Shop_frame .search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Shop_frame .search_input {
  position: relative;
  width: 328px;
  height: 52px;
  margin-left: 10px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  color: rgb(173, 173, 173);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
}

.Shop_frame .btn_search {
  position: absolute;
  width: 30px;
  height: 52px;
  background: rgb(75, 61, 57);
  color: white;
}

.Shop_frame .product_catagories {
  width: 90%;
  display: flex;
  padding-left: 80px;
  margin-top: 55px;
}
.Shop_frame .product_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Shop_frame .product_title {
  color: rgb(0, 0, 0);
  font-family: Judson;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 20px;
}

.Shop_frame .devider {
  border-bottom: 1px solid rgb(199, 199, 199);
  margin-top: 20px;
}

.Shop_frame .product_names_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Shop_frame .product_names {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
}

.Shop_frame .product_count {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: right;
}

.Shop_frame .filter {
  display: flex;
  flex-direction: column;
}

.Shop_frame .filter_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.Shop_frame .filter_price {
  display: flex;
  flex-direction: column;
}

.Shop_frame .min_price {
  color: rgb(44, 44, 44);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.Shop_frame .max_price {
  color: rgb(44, 44, 44);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.Shop_frame .price {
  width: 110px;
  height: 35px;
  color: rgb(44, 44, 44);
  font-family: Judson;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  background: rgb(236, 236, 236);
  margin-top: 10px;
  padding: 10px;
}

.Shop_frame .slider {
  background: white;
  margin-top: 40px;
  color: #000;
}

.Shop_frame .pagination_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
