.wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 16px;
  .target_articles_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
    gap: 24px;
    height: auto;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

.target_img {
  width: 294px;
  height: 260px;
}

.typography_box {
  display: flex;
  align-items: center;
  justify-content: center;

}

.articles_box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;

}

.moment_box {
  margin-top: 5px;
  color: rgb(0, 0, 0);
}

.article_name {
  color: rgb(0, 0, 0);
  font-family: Judson;
  font-size: 20px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-left: 10px;
}
.target_coment {
  color: rgb(0, 0, 0);
  font-family: Judson;
  font-size: 20px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin: 20px 10px;
  height: auto;
}
